Sichtung der daten in DATASET_TRAIN und DATASE_METROPT2.

In [ ]:
select TIMESTAMP, count(*) from DMAS.METROPT2.DATASET_TRAIN group by TIMESTAMP having count(*) > 1

In [ ]:
select TIMESTAMP, count(*) from DMAS.METROPT2.DATASET_METROPT2 group by TIMESTAMP having count(*) > 1

In [ ]:
select case when t.TS is null then '---' else 'X' end as TRAIN, 
       case when m.TS is null then '---' else 'X' end as MPT2, count(*)
    from (select TIMESTAMP as TS from DMAS.METROPT2.DATASET_TRAIN) t
         full outer join
         (select TIMESTAMP as TS from DMAS.METROPT2.DATASET_METROPT2) m
             on (t.TS = m.TS)
    group by TRAIN, MPT2
    order by 1, 2
;