# Evaluation of HS12 Data

In [ ]:
select GROUP_TYPE, count(*)
    from LOCATION_GROUP
    group by GROUP_TYPE
    order by 1
;

In [ ]:
select x.GROUP_TYPE, count(*)
    from LOCATION_GROUP_MEMBER x
    group by GROUP_TYPE
    order by 1
;

In [ ]:
select x.GROUP_TYPE, x.GROUP_NAME, count(*)
    from LOCATION_GROUP_MEMBER x
    group by GROUP_TYPE, x.GROUP_NAME
    order by 1, 2
;

In [ ]:
select x.*, y.ISO3_CODE, y.NAME_SHORT_EN
    from LOCATION_GROUP_MEMBER x
         left outer join
         LOCATION_COUNTRY y
             on (y.COUNTRY_ID = x.COUNTRY_ID)
    where x.GROUP_TYPE ='continent'
      and x.GROUP_NAME = 'Other'
    order by y.ISO3_CODE
;

In [ ]:
select x.ISO3_CODE, x.NAME_SHORT_EN,
       case when c.COUNTRY_ID is null then '---' else 'continent' end as Continent,
       case when r.COUNTRY_ID is null then '---' else 'region' end as Region
    from LOCATION_COUNTRY x
         full outer join
         (select COUNTRY_ID from LOCATION_GROUP_MEMBER where GROUP_TYPE ='continent') c
             on (c.COUNTRY_ID = x.COUNTRY_ID)
         full outer join
         (select COUNTRY_ID from LOCATION_GROUP_MEMBER where GROUP_TYPE ='region') r
             on (r.COUNTRY_ID = x.COUNTRY_ID)
    where c.COUNTRY_ID is null
       or r.COUNTRY_ID is null
;